
body {
    padding-top: 60px;
    padding-bottom: 60px;
}

#weight-plot {
  font: 9px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.sets_total {
  border-top:thin solid gray;
}

.bg_fade_in { /* start */
    background-color: #afa;
    -webkit-transition: background-color 0.35s linear;
    -moz-transition: background-color 0.35s linear;
    -o-transition: background-color 0.35s linear;
    transition: background-color 0.35s linear;
}

.bg_fade_in.end {
    background-color: #fff;
}
