<h4>{{name}}</h4>
<table>
  {{#each sets}}
  <tr>
    {{#ifBodyweight ../this}}
    <td>Set:</td>
    <td class="text-right">{{reps}}</td>
    <td>reps</td>
    {{#if weight}}
    <td>(+{{weight}} kg)</td>
    {{else}}
    <td></td>
    {{/if}}
    {{else}}
    <td>Set:</td>
    <td class="text-right">{{reps}}</td>
    <td>&times;</td>
    <td>{{weight}} kg</td>
    {{/ifBodyweight}}
  </tr>
  {{/each}}
  {{#ifBodyweight this}}
  <tr class="reps_total"><td>Total:</td><td>{{totalReps}}</td><td></td></tr>
  {{/ifBodyweight}}
</table>
